@keyframes loader {
    from {
        background-color: rgba(255, 255, 255, 0.63);
    }

    to {
        background-color: #c17b25;
    }
}


@keyframes showFirst {
    50% {
        width: 0%;
    }
    
    100% {
        width: 0%;
    }
}

@keyframes spread {
    0% {
        letter-spacing: 8px;
    }
    
    100% {
        letter-spacing: 4px;
    }
}

@keyframes zindex {
    0%, 100% {
        z-index: 10;
    }
}